[submodule "hugo-casper3"]
	path = hugo-casper3
	url = https://github.com/jonathanjanssens/hugo-casper3.git
[submodule "themes/persian-hugo"]
	path = themes/persian-hugo
	url = https://github.com/themefisher/persian-hugo.git
[submodule "themes/meghna-hugo"]
	path = themes/meghna-hugo
	url = https://github.com/themefisher/meghna-hugo.git
[submodule "themes/hugo-assembly"]
	path = themes/hugo-assembly
	url = https://github.com/salsysd/hugo-assembly.git
[submodule "themes/hugo-theme-massively"]
	path = themes/hugo-theme-massively
	url = https://github.com/curtistimson/hugo-theme-massively.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/Blogpaper"]
	path = themes/Blogpaper
	url = https://github.com/NormandErwan/Blogpaper
